@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ANA SAYFA</h1>
    <p> Merhaba, bu program ajax call ile post etme örneği içermektedir</p>
    <p>İletişim sayfasından yeni kişiler ekleyebilirsiniz</p>
    <p>Şehir bilgileri dropdown içerisine json dosyasından çekildi</p>
    <p><a href="/home/contact" class="btn btn-primary btn-lg">İletişim Sayfası</a></p>
</div>
